flows.json
[
    {
        "id": "4f197a1ac03259d0",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a4a67dfe31634376",
        "type": "tibber-api-endpoint",
        "queryUrl": "https://api.tibber.com/v1-beta/gql",
        "feedConnectionTimeout": 30,
        "feedTimeout": "50",
        "queryRequestTimeout": 30,
        "name": "tibber_api"
    },
    {
        "id": "75e3df28d4239b1f",
        "type": "tibber-api-endpoint",
        "queryUrl": "https://api.tibber.com/v1-beta/gql",
        "feedConnectionTimeout": 30,
        "feedTimeout": 60,
        "queryRequestTimeout": 30,
        "name": ""
    },
    {
<<<<<<< HEAD
<<<<<<< HEAD
        "id": "706a742c0b62e1e3",
        "type": "ui_group",
        "name": "Location Input",
        "tab": "",
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
=======
=======
>>>>>>> 1a7402d1e953f386110a1fb376e3dcad00e997cc
        "id": "6c03dff826846f79",
        "type": "sqlitedb",
        "db": "C:\\Users\\asantee\\.node-red\\projects\\Project\\DataBase\\db.sqlite",
        "mode": "RWC"
<<<<<<< HEAD
>>>>>>> 1a7402d1e953f386110a1fb376e3dcad00e997cc
=======
>>>>>>> 1a7402d1e953f386110a1fb376e3dcad00e997cc
    },
    {
        "id": "0af3b0363a337d11",
        "type": "debug",
        "z": "4f197a1ac03259d0",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
<<<<<<< HEAD
<<<<<<< HEAD
        "x": 2360,
        "y": 180,
=======
        "x": 2380,
        "y": 260,
>>>>>>> 1a7402d1e953f386110a1fb376e3dcad00e997cc
=======
        "x": 2380,
        "y": 260,
>>>>>>> 1a7402d1e953f386110a1fb376e3dcad00e997cc
        "wires": []
    },
    {
        "id": "6834176699a5dcf7",
        "type": "delay",
        "z": "4f197a1ac03259d0",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 360,
        "y": 200,
        "wires": [
            [
                "95656262bdebca0c",
                "f638736c0c10c459",
                "1e5dec98b2d97cc3",
                "f0bc0b2d7ba5484a",
                "cbeb37f343898efe",
                "9a90f52afcac38b6",
                "99cc92f7be54cd0a",
                "9a85546e80245962"
            ]
        ]
    },
    {
        "id": "4af115a64b6fd9ff",
        "type": "debug",
        "z": "4f197a1ac03259d0",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2300,
        "y": 500,
        "wires": []
    },
    {
        "id": "4d89cd8af18f0b22",
        "type": "debug",
        "z": "4f197a1ac03259d0",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2300,
        "y": 680,
        "wires": []
    },
    {
        "id": "1207ab89c8b2f804",
        "type": "comment",
        "z": "4f197a1ac03259d0",
        "name": "Data Querry ",
        "info": "",
        "x": 650,
        "y": 20,
        "wires": []
    },
    {
        "id": "496db75d3898523e",
        "type": "comment",
        "z": "4f197a1ac03259d0",
        "name": "data_to_logic unit",
        "info": "",
<<<<<<< HEAD
<<<<<<< HEAD
        "x": 2320,
        "y": 120,
=======
        "x": 2360,
        "y": 100,
>>>>>>> 1a7402d1e953f386110a1fb376e3dcad00e997cc
=======
        "x": 2360,
        "y": 100,
>>>>>>> 1a7402d1e953f386110a1fb376e3dcad00e997cc
        "wires": []
    },
    {
        "id": "f0a970a82f7c0c68",
        "type": "comment",
        "z": "4f197a1ac03259d0",
        "name": "get_hardware_component_status",
        "info": "",
        "x": 650,
        "y": 460,
        "wires": []
    },
    {
        "id": "89346c3eb7a35b8c",
        "type": "inject",
        "z": "4f197a1ac03259d0",
        "name": "start_querry_data_signal",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "6834176699a5dcf7"
            ]
        ]
    },
    {
        "id": "f5be252955905415",
        "type": "comment",
        "z": "4f197a1ac03259d0",
        "name": "data_to_logic unit",
        "info": "",
        "x": 2300,
        "y": 460,
        "wires": []
    },
    {
        "id": "95656262bdebca0c",
        "type": "pythonshell in",
        "z": "4f197a1ac03259d0",
        "name": "get_weather_data",
        "pyfile": "C:\\Users\\asantee\\.node-red\\projects\\Project\\scripts\\get_weather_data.py",
        "virtualenv": "",
        "continuous": false,
        "stdInData": false,
        "x": 650,
        "y": 60,
        "wires": [
            [
                "e9cf1031970a6702"
            ]
        ]
    },
    {
        "id": "1e5dec98b2d97cc3",
        "type": "pythonshell in",
        "z": "4f197a1ac03259d0",
        "name": "get_grid_price",
        "pyfile": "",
        "virtualenv": "",
        "continuous": false,
        "stdInData": false,
        "x": 640,
        "y": 220,
        "wires": [
            [
                "6ce78b6b369ffff1"
            ]
        ]
    },
    {
        "id": "f638736c0c10c459",
        "type": "pythonshell in",
        "z": "4f197a1ac03259d0",
<<<<<<< HEAD
<<<<<<< HEAD
        "name": "get_solar_data(fixed calibration)",
        "pyfile": "C:\\Users\\vudia\\.node-red\\projects\\Project\\scripts\\get_solar_data.py",
=======
        "name": "get_solar_data",
        "pyfile": "C:\\Users\\asantee\\.node-red\\projects\\Project\\scripts\\get_solar_data.py",
>>>>>>> 1a7402d1e953f386110a1fb376e3dcad00e997cc
=======
        "name": "get_solar_data",
        "pyfile": "C:\\Users\\asantee\\.node-red\\projects\\Project\\scripts\\get_solar_data.py",
>>>>>>> 1a7402d1e953f386110a1fb376e3dcad00e997cc
        "virtualenv": "",
        "continuous": false,
        "stdInData": false,
        "x": 690,
        "y": 120,
        "wires": [
            [
                "d94153e716c850fd"
            ]
        ]
    },
    {
        "id": "f0bc0b2d7ba5484a",
        "type": "pythonshell in",
        "z": "4f197a1ac03259d0",
        "name": "get_market_price",
        "pyfile": "C:\\Users\\asantee\\.node-red\\projects\\Project\\scripts\\get_market_price.py",
        "virtualenv": "",
        "continuous": false,
        "stdInData": false,
        "x": 670,
        "y": 280,
        "wires": [
            [
                "32e2bec2664d6799"
            ]
        ]
    },
    {
        "id": "cbeb37f343898efe",
        "type": "pythonshell in",
        "z": "4f197a1ac03259d0",
        "name": "get_energy_consumption_from_user(tibber)",
        "pyfile": "C:\\Users\\asantee\\.node-red\\projects\\Project\\scripts\\get_consumption_from_user.py",
        "virtualenv": "",
        "continuous": false,
        "stdInData": false,
<<<<<<< HEAD
<<<<<<< HEAD
        "x": 690,
        "y": 400,
=======
=======
>>>>>>> 1a7402d1e953f386110a1fb376e3dcad00e997cc
        "x": 730,
        "y": 360,
>>>>>>> 1a7402d1e953f386110a1fb376e3dcad00e997cc
        "wires": [
            [
                "3fb6d188b0ca3098"
            ]
        ]
    },
    {
        "id": "658289e24a3e4843",
        "type": "pythonshell in",
        "z": "4f197a1ac03259d0",
        "name": "get_battery_state",
        "pyfile": "",
        "virtualenv": "",
        "continuous": false,
        "stdInData": false,
        "x": 630,
        "y": 660,
        "wires": [
            [
                "4d89cd8af18f0b22"
            ]
        ]
    },
    {
        "id": "c0071d0b8b153941",
        "type": "pythonshell in",
        "z": "4f197a1ac03259d0",
<<<<<<< HEAD
<<<<<<< HEAD
        "name": "combine_sort_and_append",
        "pyfile": "C:\\Users\\vudia\\.node-red\\projects\\Project\\scripts\\combine_sort_and_append.py",
        "virtualenv": "",
        "continuous": false,
        "stdInData": false,
        "x": 1820,
        "y": 180,
        "wires": [
            [
                "693fa8576fef09e3"
=======
        "name": "combine_sort_and_append_to_data_base",
        "pyfile": "C:\\Users\\asantee\\.node-red\\projects\\Project\\scripts\\combine_sort_and_append.py",
        "virtualenv": "",
        "continuous": false,
        "stdInData": false,
        "x": 1860,
        "y": 180,
        "wires": [
            [
                "693fa8576fef09e3",
                "143a64dad64cabcc"
>>>>>>> 1a7402d1e953f386110a1fb376e3dcad00e997cc
=======
        "name": "combine_sort_and_append_to_data_base",
        "pyfile": "C:\\Users\\asantee\\.node-red\\projects\\Project\\scripts\\combine_sort_and_append.py",
        "virtualenv": "",
        "continuous": false,
        "stdInData": false,
        "x": 1860,
        "y": 180,
        "wires": [
            [
                "693fa8576fef09e3",
                "143a64dad64cabcc"
>>>>>>> 1a7402d1e953f386110a1fb376e3dcad00e997cc
            ]
        ]
    },
    {
        "id": "32e2bec2664d6799",
        "type": "file",
        "z": "4f197a1ac03259d0",
        "name": "temp_market_price",
        "filename": "C:\\Users\\asantee\\.node-red\\projects\\Project\\temporal_file\\temp_market_prices.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1010,
<<<<<<< HEAD
<<<<<<< HEAD
        "y": 280,
        "wires": [
            [
                "f259e687832ad330",
                "14b44b6aca05a049"
=======
=======
>>>>>>> 1a7402d1e953f386110a1fb376e3dcad00e997cc
        "y": 260,
        "wires": [
            [
                "f259e687832ad330"
<<<<<<< HEAD
>>>>>>> 1a7402d1e953f386110a1fb376e3dcad00e997cc
=======
>>>>>>> 1a7402d1e953f386110a1fb376e3dcad00e997cc
            ]
        ]
    },
    {
        "id": "6ce78b6b369ffff1",
        "type": "file",
        "z": "4f197a1ac03259d0",
        "name": "temp_grid_price",
        "filename": "C:\\Users\\asantee\\.node-red\\projects\\Project\\temporal_file\\grid_price.csv",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1000,
<<<<<<< HEAD
<<<<<<< HEAD
        "y": 220,
=======
=======
>>>>>>> 1a7402d1e953f386110a1fb376e3dcad00e997cc
        "y": 200,
>>>>>>> 1a7402d1e953f386110a1fb376e3dcad00e997cc
        "wires": [
            [
                "f259e687832ad330"
            ]
        ]
    },
    {
        "id": "2bcd55f22d8dd5a9",
        "type": "file",
        "z": "4f197a1ac03259d0",
        "name": "temp_consump_shelly",
        "filename": "C:\\Users\\asantee\\.node-red\\projects\\Project\\temporal_file\\temp_market_prices.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1020,
        "y": 480,
        "wires": [
            [
                "f259e687832ad330"
            ]
        ]
    },
    {
        "id": "d94153e716c850fd",
        "type": "file",
        "z": "4f197a1ac03259d0",
        "name": "temp_solar",
        "filename": "C:\\Users\\asantee\\.node-red\\projects\\Project\\temporal_file\\temp_solar_data.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 990,
        "y": 140,
        "wires": [
            [
<<<<<<< HEAD
<<<<<<< HEAD
                "f259e687832ad330",
                "678267ed67b95e62"
=======
                "f259e687832ad330"
>>>>>>> 1a7402d1e953f386110a1fb376e3dcad00e997cc
=======
                "f259e687832ad330"
>>>>>>> 1a7402d1e953f386110a1fb376e3dcad00e997cc
            ]
        ]
    },
    {
        "id": "3fb6d188b0ca3098",
        "type": "file",
        "z": "4f197a1ac03259d0",
        "name": "temp_consum",
        "filename": "C:\\Users\\asantee\\.node-red\\projects\\Project\\temporal_file\\temp_user_consumption.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1020,
        "y": 400,
        "wires": [
            [
                "f259e687832ad330"
            ]
        ]
    },
    {
        "id": "e9cf1031970a6702",
        "type": "file",
        "z": "4f197a1ac03259d0",
        "name": "temp_weather_data",
        "filename": "C:\\Users\\asantee\\.node-red\\projects\\Project\\temporal_file\\temp_weather.csv",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1020,
        "y": 80,
        "wires": [
            [
<<<<<<< HEAD
<<<<<<< HEAD
                "f259e687832ad330",
                "4f7a979ebaef398b"
=======
                "f259e687832ad330"
>>>>>>> 1a7402d1e953f386110a1fb376e3dcad00e997cc
=======
                "f259e687832ad330"
>>>>>>> 1a7402d1e953f386110a1fb376e3dcad00e997cc
            ]
        ]
    },
    {
        "id": "9a90f52afcac38b6",
        "type": "shelly-gen2",
        "z": "4f197a1ac03259d0",
        "hostname": "",
        "description": "",
        "mode": "polling",
        "verbose": false,
        "server": "",
        "outputmode": "event",
        "uploadretryinterval": 5000,
        "pollinginterval": 5000,
        "pollstatus": false,
        "getstatusoncommand": true,
        "devicetype": "",
        "devicetypemustmatchexactly": true,
        "captureblutooth": false,
        "outputs": 1,
        "x": 570,
        "y": 540,
        "wires": [
            [
                "2bcd55f22d8dd5a9",
                "4af115a64b6fd9ff"
            ]
        ]
    },
    {
        "id": "693fa8576fef09e3",
        "type": "file",
        "z": "4f197a1ac03259d0",
        "name": "final_csv_db",
        "filename": "C:\\Users\\asantee\\.node-red\\projects\\Project\\DataBase\\db.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 2150,
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> 1a7402d1e953f386110a1fb376e3dcad00e997cc
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "f259e687832ad330",
        "type": "join",
        "z": "4f197a1ac03259d0",
        "name": "have all data",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "payload",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": true,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1300,
<<<<<<< HEAD
>>>>>>> 1a7402d1e953f386110a1fb376e3dcad00e997cc
=======
>>>>>>> 1a7402d1e953f386110a1fb376e3dcad00e997cc
        "y": 180,
        "wires": [
            [
                "69e66e41133da508"
            ]
        ]
    },
    {
<<<<<<< HEAD
<<<<<<< HEAD
        "id": "99cc92f7be54cd0a",
        "type": "pythonshell in",
        "z": "4f197a1ac03259d0",
        "name": "get_negative_prices",
        "pyfile": "C:\\Users\\vudia\\.node-red\\projects\\Project\\scripts\\get_negative_prices.py",
        "virtualenv": "",
        "continuous": false,
        "stdInData": false,
        "x": 660,
        "y": 340,
        "wires": [
            [
                "e11b05734da12d67"
            ]
        ]
    },
    {
        "id": "e11b05734da12d67",
        "type": "file",
        "z": "4f197a1ac03259d0",
        "name": "temp_negative_prices",
        "filename": "C:\\Users\\vudia\\.node-red\\projects\\Project\\temporal_file\\temp_negative_prices.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1020,
        "y": 340,
        "wires": [
            [
                "f259e687832ad330",
                "bbfb53bb75778bf9"
            ]
        ]
    },
    {
        "id": "f259e687832ad330",
        "type": "join",
        "z": "4f197a1ac03259d0",
        "name": "have all data",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "payload",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": true,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1300,
        "y": 180,
        "wires": [
            [
                "69e66e41133da508"
            ]
        ]
    },
    {
=======
>>>>>>> 1a7402d1e953f386110a1fb376e3dcad00e997cc
=======
>>>>>>> 1a7402d1e953f386110a1fb376e3dcad00e997cc
        "id": "69e66e41133da508",
        "type": "delay",
        "z": "4f197a1ac03259d0",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1540,
        "y": 180,
        "wires": [
            [
                "c0071d0b8b153941"
            ]
        ]
    },
    {
<<<<<<< HEAD
<<<<<<< HEAD
        "id": "4f7a979ebaef398b",
=======
=======
>>>>>>> 1a7402d1e953f386110a1fb376e3dcad00e997cc
        "id": "143a64dad64cabcc",
        "type": "sqlite",
        "z": "4f197a1ac03259d0",
        "mydb": "6c03dff826846f79",
        "sqlquery": "fixed",
        "sql": "SELECT * FROM data LIMIT 10",
        "name": "dataBase",
        "x": 2180,
        "y": 260,
        "wires": [
            [
                "0af3b0363a337d11"
            ]
        ]
    },
    {
        "id": "291e86a2e348d7d1",
        "type": "exec",
        "z": "4f197a1ac03259d0",
        "command": "python3 C:\\Users\\asantee\\.node-red\\projects\\Project\\scripts\\battery.py 1",
        "addpay": "topic",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "charge_battery",
        "x": 680,
        "y": 780,
        "wires": [
            [
                "9e5b8309ea802eb9"
            ],
            [],
            []
        ]
    },
    {
        "id": "22bcc9c9defdb24b",
        "type": "exec",
        "z": "4f197a1ac03259d0",
        "command": "",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 650,
        "y": 860,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "9e5b8309ea802eb9",
<<<<<<< HEAD
>>>>>>> 1a7402d1e953f386110a1fb376e3dcad00e997cc
=======
>>>>>>> 1a7402d1e953f386110a1fb376e3dcad00e997cc
        "type": "debug",
        "z": "4f197a1ac03259d0",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
<<<<<<< HEAD
<<<<<<< HEAD
        "x": 1280,
        "y": 80,
        "wires": []
    },
    {
        "id": "678267ed67b95e62",
        "type": "debug",
        "z": "4f197a1ac03259d0",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 240,
        "wires": []
    },
    {
        "id": "14b44b6aca05a049",
        "type": "debug",
        "z": "4f197a1ac03259d0",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 320,
        "wires": []
    },
    {
        "id": "bbfb53bb75778bf9",
        "type": "debug",
        "z": "4f197a1ac03259d0",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 380,
        "wires": []
    },
    {
        "id": "9a85546e80245962",
        "type": "pythonshell in",
        "z": "4f197a1ac03259d0",
        "name": "solar_energy(user's calibration)",
        "pyfile": "C:\\Users\\vudia\\.node-red\\projects\\Project\\scripts\\solar_radiation.py",
        "virtualenv": "",
        "continuous": false,
        "stdInData": false,
        "x": 690,
        "y": 160,
        "wires": [
            [
                "d94153e716c850fd"
=======
        "x": 980,
        "y": 780,
        "wires": []
    },
    {
=======
        "x": 980,
        "y": 780,
        "wires": []
    },
    {
>>>>>>> 1a7402d1e953f386110a1fb376e3dcad00e997cc
        "id": "7cc29534a80cb362",
        "type": "inject",
        "z": "4f197a1ac03259d0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 440,
        "y": 780,
        "wires": [
            [
                "291e86a2e348d7d1"
            ]
        ]
    },
    {
        "id": "53fe79661cd94c9c",
        "type": "function",
        "z": "4f197a1ac03259d0",
        "name": "kill_process",
        "func": "msg.topic = \"kill\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 860,
        "wires": [
            [
                "291e86a2e348d7d1"
            ]
        ]
    },
    {
        "id": "def6b83c5dd16867",
        "type": "inject",
        "z": "4f197a1ac03259d0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 860,
        "wires": [
            [
                "53fe79661cd94c9c"
<<<<<<< HEAD
>>>>>>> 1a7402d1e953f386110a1fb376e3dcad00e997cc
=======
>>>>>>> 1a7402d1e953f386110a1fb376e3dcad00e997cc
            ]
        ]
    }
]