flows.json
[
    {
        "id": "4f197a1ac03259d0",
        "type": "tab",
        "label": "API and Data_base",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "044f20c844345fc7",
        "type": "tab",
        "label": "Logic",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6912ad3d7a04a7bd",
        "type": "tab",
        "label": "Authentication",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "76643284bdc41c45",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c7803a1abcb5e1e8",
        "type": "tab",
        "label": "Dashboard_1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6c03dff826846f79",
        "type": "sqlitedb",
        "db": "/home/pi/.node-red/projects/Project/DataBase/cons_db.sqlite",
        "mode": "RWC"
    },
    {
        "id": "tab1_ui",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "group1",
        "type": "ui_group",
        "name": "Main Dashboard",
        "tab": "tab1_ui",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "33657242ef5fb037",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "e83b4a7ea1491943",
        "type": "sqlitedb",
        "db": "/home/pi/.node-red/projects/Project/DataBase/user_data_base.sqlite",
        "mode": "RWC"
    },
    {
        "id": "38228510344247f8",
        "type": "ui-base",
        "name": "base",
        "path": "/dashboard",
        "includeClientData": false,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 5,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "60ac3cbdefc9f2e1",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "14px"
        }
    },
    {
        "id": "1dbc57c30b7ebe69",
        "type": "ui-page",
        "name": "Login",
        "ui": "38228510344247f8",
        "path": "/login",
        "icon": "login",
        "layout": "notebook",
        "theme": "60ac3cbdefc9f2e1",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "6"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "6"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "a4a1c767e4909e29",
        "type": "ui-page",
        "name": "Sign Up",
        "ui": "38228510344247f8",
        "path": "/sign-up",
        "icon": "account",
        "layout": "notebook",
        "theme": "60ac3cbdefc9f2e1",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 3,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "b015f86c38354e01",
        "type": "ui-page",
        "name": "User",
        "ui": "38228510344247f8",
        "path": "/user",
        "icon": "account",
        "layout": "notebook",
        "theme": "60ac3cbdefc9f2e1",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 4,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "a51d60ef20086f86",
        "type": "ui-page",
        "name": "Dashboard",
        "ui": "38228510344247f8",
        "path": "/",
        "icon": "home",
        "layout": "grid",
        "theme": "60ac3cbdefc9f2e1",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "2f47a39f3cc9930a",
        "type": "ui-group",
        "name": "Login",
        "page": "1dbc57c30b7ebe69",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "e0f7da5a3b24256b",
        "type": "ui-group",
        "name": "Sign up",
        "page": "a4a1c767e4909e29",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "a7d84b864bcdbb8d",
        "type": "ui-group",
        "name": "Log Out",
        "page": "b015f86c38354e01",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "1dd26d328a9f311f",
        "type": "ui-group",
        "name": "Sub-Login",
        "page": "1dbc57c30b7ebe69",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "d5dc624819206887",
        "type": "ui-group",
        "name": "Sub-Sign Up",
        "page": "a4a1c767e4909e29",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "4f854fe43a9cd673",
        "type": "ui-group",
        "name": "Main_page",
        "page": "a51d60ef20086f86",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "962221d873768ba1",
        "type": "sqlitedb",
        "db": "/home/pi/.node-red/projects/Project/DataBase/db.sqlite",
        "mode": "RWC"
    },
    {
        "id": "0af3b0363a337d11",
        "type": "debug",
        "z": "4f197a1ac03259d0",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2520,
        "y": 480,
        "wires": []
    },
    {
        "id": "1207ab89c8b2f804",
        "type": "comment",
        "z": "4f197a1ac03259d0",
        "name": "Api Data Querry ",
        "info": "",
        "x": 520,
        "y": 40,
        "wires": []
    },
    {
        "id": "f0a970a82f7c0c68",
        "type": "comment",
        "z": "4f197a1ac03259d0",
        "name": "Hardware_data_querry",
        "info": "",
        "x": 660,
        "y": 640,
        "wires": []
    },
    {
        "id": "32e2bec2664d6799",
        "type": "file",
        "z": "4f197a1ac03259d0",
        "name": "temp_market_price",
        "filename": "/home/pi/.node-red/projects/Project/temporal_file/temp_market_prices.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1110,
        "y": 400,
        "wires": [
            [
                "f259e687832ad330"
            ]
        ]
    },
    {
        "id": "6ce78b6b369ffff1",
        "type": "file",
        "z": "4f197a1ac03259d0",
        "name": "temp_grid_price",
        "filename": "/home/pi/.node-red/projects/Project/temporal_file/temp_grid_price.csv",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1100,
        "y": 340,
        "wires": [
            [
                "f259e687832ad330"
            ]
        ]
    },
    {
        "id": "2bcd55f22d8dd5a9",
        "type": "file",
        "z": "4f197a1ac03259d0",
        "name": "temp_consump_shelly",
        "filename": "/home/pi/.node-red/projects/Project/temporal_file/consumption/temp_data1.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1260,
        "y": 520,
        "wires": [
            [
                "f1f1544fb51c5228"
            ]
        ]
    },
    {
        "id": "d94153e716c850fd",
        "type": "file",
        "z": "4f197a1ac03259d0",
        "name": "temp_solar",
        "filename": "/home/pi/.node-red/projects/Project/temporal_file/temp_solar_data.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1090,
        "y": 160,
        "wires": [
            [
                "f259e687832ad330"
            ]
        ]
    },
    {
        "id": "3fb6d188b0ca3098",
        "type": "file",
        "z": "4f197a1ac03259d0",
        "name": "temp_consum",
        "filename": "/home/pi/.node-red/projects/Project/temporal_file/temp_user_consumption.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1100,
        "y": 460,
        "wires": [
            [
                "f259e687832ad330"
            ]
        ]
    },
    {
        "id": "e9cf1031970a6702",
        "type": "file",
        "z": "4f197a1ac03259d0",
        "name": "temp_weather_data",
        "filename": "/home/pi/.node-red/projects/Project/temporal_file/temp_weather.csv",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1120,
        "y": 80,
        "wires": [
            [
                "f259e687832ad330"
            ]
        ]
    },
    {
        "id": "9a90f52afcac38b6",
        "type": "shelly-gen2",
        "z": "4f197a1ac03259d0",
        "hostname": "192.168.2.104",
        "description": "shellypro3em-a0dd6ca190cc",
        "mode": "polling",
        "verbose": false,
        "server": "",
        "outputmode": "event",
        "uploadretryinterval": 5000,
        "pollinginterval": 5000,
        "pollstatus": false,
        "getstatusoncommand": true,
        "devicetype": "SPEM-003CEBEU",
        "devicetypemustmatchexactly": true,
        "captureblutooth": false,
        "outputs": 1,
        "x": 760,
        "y": 540,
        "wires": [
            [
                "b477914f344dcba2"
            ]
        ]
    },
    {
        "id": "f259e687832ad330",
        "type": "join",
        "z": "4f197a1ac03259d0",
        "name": "have all data",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "payload",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": true,
        "timeout": "",
        "count": "5",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1480,
        "y": 280,
        "wires": [
            [
                "69e66e41133da508"
            ]
        ]
    },
    {
        "id": "69e66e41133da508",
        "type": "delay",
        "z": "4f197a1ac03259d0",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1660,
        "y": 280,
        "wires": [
            [
                "c0071d0b8b153941"
            ]
        ]
    },
    {
        "id": "143a64dad64cabcc",
        "type": "sqlite",
        "z": "4f197a1ac03259d0",
        "mydb": "962221d873768ba1",
        "sqlquery": "fixed",
        "sql": "SELECT * FROM data LIMIT 500",
        "name": "Api_database",
        "x": 2320,
        "y": 480,
        "wires": [
            [
                "0af3b0363a337d11"
            ]
        ]
    },
    {
        "id": "291e86a2e348d7d1",
        "type": "exec",
        "z": "4f197a1ac03259d0",
        "command": "python3 -u /home/pi/.node-red/projects/Project/scripts/battery.py",
        "addpay": "topic",
        "append": "1",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "charge_battery",
        "x": 680,
        "y": 780,
        "wires": [
            [
                "9e5b8309ea802eb9"
            ],
            [],
            []
        ]
    },
    {
        "id": "22bcc9c9defdb24b",
        "type": "exec",
        "z": "4f197a1ac03259d0",
        "command": "python3  -u /home/pi/.node-red/projects/Project/scripts/battery.py ",
        "addpay": "topic",
        "append": "2",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "discharge_battery",
        "x": 690,
        "y": 860,
        "wires": [
            [
                "adcb46c63190de66"
            ],
            [],
            []
        ]
    },
    {
        "id": "9e5b8309ea802eb9",
        "type": "debug",
        "z": "4f197a1ac03259d0",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 760,
        "wires": []
    },
    {
        "id": "9cce8dfb2e92a5a0",
        "type": "exec",
        "z": "4f197a1ac03259d0",
        "command": "python3 -u /home/pi/.node-red/projects/Project/scripts/battery.py",
        "addpay": "topic",
        "append": "3",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "battery_status",
        "x": 680,
        "y": 1020,
        "wires": [
            [
                "f8c956d71ff78cb6",
                "4669cde437f0bf40",
                "66c008c2303356ad"
            ],
            [],
            []
        ]
    },
    {
        "id": "adcb46c63190de66",
        "type": "debug",
        "z": "4f197a1ac03259d0",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 840,
        "wires": []
    },
    {
        "id": "f8c956d71ff78cb6",
        "type": "debug",
        "z": "4f197a1ac03259d0",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 1000,
        "wires": []
    },
    {
        "id": "c12b533134e118d6",
        "type": "delay",
        "z": "4f197a1ac03259d0",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 500,
        "y": 80,
        "wires": [
            [
                "95656262bdebca0c"
            ]
        ]
    },
    {
        "id": "5a086b7c6c0946b7",
        "type": "delay",
        "z": "4f197a1ac03259d0",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 510,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "4a65ee1bdbcd0fd7",
        "type": "delay",
        "z": "4f197a1ac03259d0",
        "name": "",
        "pauseType": "delay",
        "timeout": "20",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 510,
        "y": 400,
        "wires": [
            [
                "f0bc0b2d7ba5484a"
            ]
        ]
    },
    {
        "id": "3e5af9a8aa3ccae3",
        "type": "delay",
        "z": "4f197a1ac03259d0",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 510,
        "y": 160,
        "wires": [
            [
                "c36d623b44c475f0"
            ]
        ]
    },
    {
        "id": "48f068536eb824e0",
        "type": "delay",
        "z": "4f197a1ac03259d0",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 500,
        "y": 460,
        "wires": [
            [
                "cbeb37f343898efe"
            ]
        ]
    },
    {
        "id": "38cb03c87f7afa89",
        "type": "delay",
        "z": "4f197a1ac03259d0",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 500,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "8779e3ca9988dd19",
        "type": "delay",
        "z": "4f197a1ac03259d0",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 510,
        "y": 280,
        "wires": [
            [
                "2f62ef67c96f74ac"
            ]
        ]
    },
    {
        "id": "15b390bf6afbdd51",
        "type": "file",
        "z": "4f197a1ac03259d0",
        "name": "temp_negative_prices",
        "filename": "/home/pi/.node-red/projects/Project/temporal_file/temp_negative_prices.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1120,
        "y": 280,
        "wires": [
            [
                "f259e687832ad330"
            ]
        ]
    },
    {
        "id": "07f31524fee6bfb8",
        "type": "file",
        "z": "4f197a1ac03259d0",
        "name": "temp_solar_user_caliberated",
        "filename": "/home/pi/.node-red/projects/Project/temporal_file/temp_solar_user_caliberated.csv",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1140,
        "y": 220,
        "wires": [
            [
                "f259e687832ad330"
            ]
        ]
    },
    {
        "id": "a9a6387bbfa5e51f",
        "type": "shelly-gen2",
        "z": "4f197a1ac03259d0",
        "hostname": "192.168.2.102",
        "description": "shelly_switch",
        "mode": "polling",
        "verbose": false,
        "server": "",
        "outputmode": "event",
        "uploadretryinterval": 5000,
        "pollinginterval": 5000,
        "pollstatus": false,
        "getstatusoncommand": true,
        "devicetype": "Relay",
        "devicetypemustmatchexactly": true,
        "captureblutooth": false,
        "outputs": 1,
        "x": 670,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "7b5d198d28ab4662",
        "type": "delay",
        "z": "4f197a1ac03259d0",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 400,
        "y": 680,
        "wires": [
            [
                "a9a6387bbfa5e51f"
            ]
        ]
    },
    {
        "id": "3df338df1d83b309",
        "type": "comment",
        "z": "4f197a1ac03259d0",
        "name": "meter_readings",
        "info": "",
        "x": 720,
        "y": 500,
        "wires": []
    },
    {
        "id": "41d14b51e26e1384",
        "type": "inject",
        "z": "4f197a1ac03259d0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 680,
        "wires": [
            [
                "7b5d198d28ab4662"
            ]
        ]
    },
    {
        "id": "9eb0125ac6550100",
        "type": "inject",
        "z": "4f197a1ac03259d0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 780,
        "wires": [
            [
                "291e86a2e348d7d1"
            ]
        ]
    },
    {
        "id": "dd6ece493dd53997",
        "type": "inject",
        "z": "4f197a1ac03259d0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 860,
        "wires": [
            [
                "22bcc9c9defdb24b"
            ]
        ]
    },
    {
        "id": "e2855ecd08bc80fe",
        "type": "exec",
        "z": "4f197a1ac03259d0",
        "command": "pkill -f \"python3 -u /home/pi/.node-red/projects/Project/scripts/battery.py\"",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "stop",
        "x": 650,
        "y": 940,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "2f6886dfeda60a4a",
        "type": "inject",
        "z": "4f197a1ac03259d0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 940,
        "wires": [
            [
                "e2855ecd08bc80fe"
            ]
        ]
    },
    {
        "id": "80d455359251b570",
        "type": "inject",
        "z": "4f197a1ac03259d0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 1020,
        "wires": [
            [
                "9cce8dfb2e92a5a0"
            ]
        ]
    },
    {
        "id": "95656262bdebca0c",
        "type": "pythonshell in",
        "z": "4f197a1ac03259d0",
        "name": "get_weather_data",
        "pyfile": "/home/pi/.node-red/projects/Project/scripts/get_weather_data.py",
        "virtualenv": "",
        "continuous": false,
        "stdInData": false,
        "x": 750,
        "y": 80,
        "wires": [
            [
                "e9cf1031970a6702"
            ]
        ]
    },
    {
        "id": "1e5dec98b2d97cc3",
        "type": "pythonshell in",
        "z": "4f197a1ac03259d0",
        "name": "get_grid_price",
        "pyfile": "",
        "virtualenv": "",
        "continuous": false,
        "stdInData": false,
        "x": 740,
        "y": 340,
        "wires": [
            [
                "6ce78b6b369ffff1"
            ]
        ]
    },
    {
        "id": "f0bc0b2d7ba5484a",
        "type": "pythonshell in",
        "z": "4f197a1ac03259d0",
        "name": "get_market_price",
        "pyfile": "/home/pi/.node-red/projects/Project/scripts/get_market_price.py",
        "virtualenv": "",
        "continuous": false,
        "stdInData": false,
        "x": 750,
        "y": 400,
        "wires": [
            [
                "32e2bec2664d6799"
            ]
        ]
    },
    {
        "id": "cbeb37f343898efe",
        "type": "pythonshell in",
        "z": "4f197a1ac03259d0",
        "name": "get_energy_consumption_from_user(tibber)",
        "pyfile": "/home/pi/.node-red/projects/Project/scripts/get_consumption_from_user.py",
        "virtualenv": "",
        "continuous": false,
        "stdInData": false,
        "x": 830,
        "y": 460,
        "wires": [
            [
                "3fb6d188b0ca3098"
            ]
        ]
    },
    {
        "id": "c0071d0b8b153941",
        "type": "pythonshell in",
        "z": "4f197a1ac03259d0",
        "name": "combine_sort_and_append_to_data_base",
        "pyfile": "/home/pi/.node-red/projects/Project/scripts/combine_sort_and_append.py",
        "virtualenv": "",
        "continuous": false,
        "stdInData": false,
        "x": 1940,
        "y": 280,
        "wires": [
            [
                "143a64dad64cabcc"
            ]
        ]
    },
    {
        "id": "c36d623b44c475f0",
        "type": "pythonshell in",
        "z": "4f197a1ac03259d0",
        "name": "get_solar_data(fixed calibration)",
        "pyfile": "/home/pi/.node-red/projects/Project/scripts/get_solar_data.py",
        "virtualenv": "",
        "continuous": false,
        "stdInData": false,
        "x": 790,
        "y": 160,
        "wires": [
            [
                "d94153e716c850fd"
            ]
        ]
    },
    {
        "id": "2f62ef67c96f74ac",
        "type": "pythonshell in",
        "z": "4f197a1ac03259d0",
        "name": "get_negative_prices",
        "pyfile": "/home/pi/.node-red/projects/Project/scripts/get_negative_prices.py",
        "virtualenv": "",
        "continuous": false,
        "stdInData": false,
        "x": 760,
        "y": 280,
        "wires": [
            [
                "15b390bf6afbdd51"
            ]
        ]
    },
    {
        "id": "8e5e53ca363cc8c7",
        "type": "pythonshell in",
        "z": "4f197a1ac03259d0",
        "name": "solar_energy(user's calibration)",
        "pyfile": "/home/pi/.node-red/projects/Project/scripts/solar_radiation.py",
        "virtualenv": "",
        "continuous": false,
        "stdInData": false,
        "x": 790,
        "y": 220,
        "wires": [
            [
                "07f31524fee6bfb8"
            ]
        ]
    },
    {
        "id": "a50c6266d9a82b05",
        "type": "trigger",
        "z": "4f197a1ac03259d0",
        "name": "15_mins_loop",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-15",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 280,
        "y": 280,
        "wires": [
            [
                "c12b533134e118d6",
                "3e5af9a8aa3ccae3",
                "8779e3ca9988dd19",
                "38cb03c87f7afa89",
                "5a086b7c6c0946b7",
                "4a65ee1bdbcd0fd7",
                "48f068536eb824e0"
            ]
        ]
    },
    {
        "id": "89346c3eb7a35b8c",
        "type": "inject",
        "z": "4f197a1ac03259d0",
        "name": "start_querry_data_signal",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "900",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "a50c6266d9a82b05"
            ]
        ]
    },
    {
        "id": "74c975dd5fcaf451",
        "type": "inject",
        "z": "4f197a1ac03259d0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "900",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 470,
        "y": 540,
        "wires": [
            [
                "9a90f52afcac38b6"
            ]
        ]
    },
    {
        "id": "b477914f344dcba2",
        "type": "python3-function",
        "z": "4f197a1ac03259d0",
        "name": "shelly to dataBase",
        "func": "import datetime\n\n# Create ISO timestamp string\ntimestamp = datetime.datetime.now().isoformat()\n\n# Flatten em0 and emdata0 and add timestamp\nmsg1 = {'payload': {'Date': timestamp[:10], 'Time' : timestamp[11:19],**msg['payload']['em0']}}\nmsg2 = {'payload': {'Date': timestamp[:10], 'Time' : timestamp[11:19],**msg['payload']['emdata0']}}\n\n# Return both messages ready to be written as CSV rows\nreturn msg1, msg2\n",
        "outputs": 2,
        "x": 1010,
        "y": 540,
        "wires": [
            [
                "2bcd55f22d8dd5a9"
            ],
            [
                "77953dac93903f63"
            ]
        ]
    },
    {
        "id": "77953dac93903f63",
        "type": "file",
        "z": "4f197a1ac03259d0",
        "name": "temp_consump_shelly",
        "filename": "/home/pi/.node-red/projects/Project/temporal_file/consumption/temp_data2.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1260,
        "y": 560,
        "wires": [
            [
                "f1f1544fb51c5228"
            ]
        ]
    },
    {
        "id": "f1f1544fb51c5228",
        "type": "join",
        "z": "4f197a1ac03259d0",
        "name": "have all data",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "payload",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": true,
        "timeout": "",
        "count": "1",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1480,
        "y": 540,
        "wires": [
            [
                "623d973206ba46da"
            ]
        ]
    },
    {
        "id": "623d973206ba46da",
        "type": "delay",
        "z": "4f197a1ac03259d0",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1660,
        "y": 540,
        "wires": [
            [
                "d21d8ecc18c5dcc9"
            ]
        ]
    },
    {
        "id": "d21d8ecc18c5dcc9",
        "type": "pythonshell in",
        "z": "4f197a1ac03259d0",
        "name": "combine_sort_and_append_to_data_base",
        "pyfile": "/home/pi/.node-red/projects/Project/scripts/combine_sort_and_append_consumption.py",
        "virtualenv": "",
        "continuous": false,
        "stdInData": false,
        "x": 1940,
        "y": 540,
        "wires": [
            [
                "eb1f84f123b1340d"
            ]
        ]
    },
    {
        "id": "eb1f84f123b1340d",
        "type": "sqlite",
        "z": "4f197a1ac03259d0",
        "mydb": "6c03dff826846f79",
        "sqlquery": "fixed",
        "sql": "SELECT * FROM consumption LIMIT 500",
        "name": "consumption_database",
        "x": 2310,
        "y": 540,
        "wires": [
            [
                "74fa4322bd9d85a3"
            ]
        ]
    },
    {
        "id": "66c008c2303356ad",
        "type": "ui-template",
        "z": "4f197a1ac03259d0",
        "d": true,
        "group": "4f854fe43a9cd673",
        "page": "",
        "ui": "",
        "name": "Battery Info (Styled)",
        "order": 12,
        "width": 6,
        "height": 2,
        "format": "<p style=\"white-space: pre-line; font-weight: bold; color: #b30000;\">\n  {{msg.payload}}\n</p>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1020,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "4669cde437f0bf40",
        "type": "ui-text",
        "z": "4f197a1ac03259d0",
        "group": "4f854fe43a9cd673",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "Battery Info ",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "x": 970,
        "y": 1080,
        "wires": []
    },
    {
        "id": "74fa4322bd9d85a3",
        "type": "debug",
        "z": "4f197a1ac03259d0",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2580,
        "y": 640,
        "wires": []
    },
    {
        "id": "ee8be1c8de0fe532",
        "type": "trigger",
        "z": "4f197a1ac03259d0",
        "name": "15_mins_loop",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-15",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 200,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "preplan_chart",
        "type": "ui_chart",
        "z": "044f20c844345fc7",
        "name": "Planned Energy Source (48h)",
        "group": "group1",
        "order": 8,
        "width": "12",
        "height": "5",
        "label": "Planned Energy Source (Next 48h)",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "step-after",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 48,
        "removeOlderUnit": "hour",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#003f5c",
            "#ffa600",
            "#2f4b7c",
            "#00bfae"
        ],
        "outputs": 1,
        "x": 1960,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "executed_chart",
        "type": "ui_chart",
        "z": "044f20c844345fc7",
        "name": "Executed Energy Source (48h)",
        "group": "group1",
        "order": 9,
        "width": "12",
        "height": "5",
        "label": "Executed Energy Source (From Tibber)",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "step-after",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 48,
        "removeOlderUnit": "hour",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#a05195",
            "#ff7c43",
            "#d45087",
            "#665191"
        ],
        "outputs": 1,
        "x": 1960,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "68d76b63eb7b2367",
        "type": "inject",
        "z": "044f20c844345fc7",
        "name": "Trigger (Every 48h at 13:05)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "5 13 */2 * *",
        "once": false,
        "onceDelay": 0.1,
        "payload": "",
        "payloadType": "date",
        "x": 580,
        "y": 320,
        "wires": [
            [
                "c014cb74e6c039d0"
            ]
        ]
    },
    {
        "id": "c014cb74e6c039d0",
        "type": "sqlite",
        "z": "044f20c844345fc7",
        "mydb": "962221d873768ba1",
        "sqlquery": "fixed",
        "sql": "\nSELECT \n  Date,\n  Time,\n  \"Prices[EUR/kWh]\" AS price_no_tax,\n  \"Solar Production Estimate - kW\" AS solar_production,\n  \"Consumption[kWh]\" AS solar_consumption\nFROM data\nWHERE Date = date('now') OR Date = date('now', '+1 day')\n",
        "name": "Fetch Energy Data (Today + Tomorrow)",
        "x": 660,
        "y": 160,
        "wires": [
            [
                "abe99c021031e2f5",
                "fix_mapping_node"
            ]
        ]
    },
    {
        "id": "abe99c021031e2f5",
        "type": "debug",
        "z": "044f20c844345fc7",
        "name": "Fetched 48h Data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 960,
        "y": 120,
        "wires": []
    },
    {
        "id": "550b29ee5b8cabcb",
        "type": "function",
        "z": "044f20c844345fc7",
        "name": "Check Solar > Consumption",
        "func": "\nlet now = new Date();\nlet match = msg.payload.find(row => {\n    let t = new Date(row.Date + 'T' + row.Time + ':00');\n    return t <= now && now < new Date(t.getTime() + 15 * 60000);\n});\nif (match && match.solar_production > match.solar_consumption) {\n    msg.payload = \"Surplus: Charging grid.\";\n} else {\n    msg.payload = \"\";\n}\nreturn msg;\n",
        "outputs": 1,
        "x": 1260,
        "y": 160,
        "wires": [
            [
                "bbbc3ab82befc3ea"
            ]
        ]
    },
    {
        "id": "bbbc3ab82befc3ea",
        "type": "ui_text",
        "z": "044f20c844345fc7",
        "group": "group1",
        "order": 6,
        "name": "Surplus Solar",
        "label": "Solar Status",
        "format": "{{msg.payload}}",
        "x": 1510,
        "y": 160,
        "wires": []
    },
    {
        "id": "a7baa8ae584a4a55",
        "type": "function",
        "z": "044f20c844345fc7",
        "name": "Decide Source + Control Shelly",
        "func": "\nlet now = new Date();\nlet current = msg.payload.find(r => {\n    let t = new Date(r.Date + 'T' + r.Time + ':00');\n    return t <= now && now < new Date(t.getTime() + 15 * 60000);\n});\n\nif (!current) return null;\nlet price = current.price_no_tax;\nlet avg = msg.averagePrice;\nlet shellyMsg = {};\n\nif (price < 0 || price < avg * 0.8) {\n    shellyMsg.payload = { turn: \"on\" }; // charging\n} else if (price > avg * 1.2) {\n    shellyMsg.payload = { turn: \"off\" }; // discharging\n} else {\n    shellyMsg.payload = { turn: \"on\" };\n}\n\nshellyMsg.url = \"http://192.168.2.102/relay/0\";\nreturn shellyMsg;\n",
        "outputs": 1,
        "x": 1310,
        "y": 240,
        "wires": [
            [
                "c2dc8809158d6ec7"
            ]
        ]
    },
    {
        "id": "c2dc8809158d6ec7",
        "type": "http request",
        "z": "044f20c844345fc7",
        "name": "Send to Shelly Switch",
        "method": "POST",
        "url": "",
        "x": 1610,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "85e92626c4d9887e",
        "type": "function",
        "z": "044f20c844345fc7",
        "name": "Generate Energy Plans (48h)",
        "func": "\nlet labels = [];\nlet planned = [];\nlet executed = [];\n\nlet battery = 2.5;\nconst capacity = 5.0;\nconst chargeRate = 5.0;\nconst dischargeRate = 5.0 / 3;\nconst lookAhead = 2;\n\nfunction simulateLoad(hour, season) {\n    if (season === 'winter') {\n        if (hour >= 6 && hour < 9) return 0.25 + 0.35 * Math.sin((hour - 6)/3);\n        if (hour >= 16 && hour < 20) return 0.6 + 0.5 * Math.sin((hour - 16)/4);\n        return 0.4;\n    }\n    if (season === 'summer') {\n        if (hour >= 12 && hour < 16) return 0.8 + 1.2 * Math.sin((hour - 12)/4);\n        return 0.4;\n    }\n    if (season === 'spring' || season === 'autumn') {\n        if (hour >= 7 && hour < 10) return 0.4 + 0.4 * Math.sin((hour - 7)/3);\n        if (hour >= 17 && hour < 21) return 0.6 + 0.6 * Math.sin((hour - 17)/4);\n        return 0.35;\n    }\n    return 0.4;\n}\n\nlet data = msg.payload;\nlet avg = msg.averagePrice;\nlet now = new Date();\nlet month = now.getMonth() + 1;\nlet season = (month <= 2 || month === 12) ? \"winter\" : (month <= 5) ? \"spring\" : (month <= 8) ? \"summer\" : \"autumn\";\n\ndata.forEach((row, idx, arr) => {\n    let label = row.Date + \" \" + row.Time;\n    labels.push(label);\n\n    let price = row.price_no_tax;\n    let solar = row.solar_production || 0;\n    let usage = simulateLoad(parseInt(row.Time.split(\":\")[0]), season);\n\n    // Look ahead to find any low price coming\n    let upcomingPrices = arr.slice(idx+1, idx+1+lookAhead).map(r => r.price_no_tax);\n    let lowComing = upcomingPrices.some(p => p !== null && p < 0.03);\n\n    let action = 0; // 1 = charge/solar, -1 = discharge, 0 = grid\n    let executedAction = 0;\n    let shelly = false;\n\n    // Pre-discharge if low price coming\n    if (lowComing && battery > 0) {\n        let discharge = Math.min(dischargeRate, battery);\n        battery -= discharge;\n        action = -1;\n    }\n\n    if (price < 0.03) {\n        let charge = Math.min(chargeRate, capacity - battery);\n        battery += charge;\n        action = 1;\n        shelly = true;\n    } else if (solar > usage) {\n        let charge = Math.min(chargeRate, capacity - battery);\n        battery += charge;\n        action = 1;\n        shelly = true;\n    } else if (price > avg * 1.2 && battery > 0) {\n        let discharge = Math.min(dischargeRate, battery);\n        battery -= discharge;\n        action = -1;\n    } else {\n        action = 0;\n    }\n\n    battery = Math.max(0, Math.min(battery, capacity));\n    executedAction = (solar > usage) ? 1 : (price > avg * 1.2 ? -1 : 0);\n\n    planned.push(action);\n    executed.push(executedAction);\n});\n\nmsg.preplan = {\n    payload: [{\n        series: [\"Planned\"],\n        data: [planned],\n        labels: labels\n    }]\n};\n\nmsg.execution = {\n    payload: [{\n        series: [\"Executed\"],\n        data: [executed],\n        labels: labels\n    }]\n};\n\nreturn [msg.preplan, msg.execution];\n",
        "outputs": 2,
        "x": 1310,
        "y": 320,
        "wires": [
            [
                "planned_chart_corrected"
            ],
            [
                "4ce3ea4c4757ef41",
                "acfa73e002b8d8c9"
            ]
        ]
    },
    {
        "id": "829cd47add88d38a",
        "type": "ui_chart",
        "z": "044f20c844345fc7",
        "name": "Planned Energy Source (48h)",
        "group": "group1",
        "order": 8,
        "width": "12",
        "height": "5",
        "label": "Planned Energy Source (Next 48h)",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "step-after",
        "nodata": "",
        "dot": false,
        "ymin": "-1",
        "ymax": "1",
        "removeOlder": 48,
        "removeOlderPoints": "",
        "removeOlderUnit": "hour",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#003f5c",
            "#ffa600",
            "#2f4b7c",
            "#00bfae",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1660,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "4ce3ea4c4757ef41",
        "type": "ui_chart",
        "z": "044f20c844345fc7",
        "name": "Executed Energy Source (48h)",
        "group": "group1",
        "order": 9,
        "width": "12",
        "height": "5",
        "label": "Executed Energy Source (From Tibber)",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "step-after",
        "nodata": "payload",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 48,
        "removeOlderPoints": "",
        "removeOlderUnit": "hour",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#a05195",
            "#ff7c43",
            "#d45087",
            "#665191",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1660,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "11dbdb6741035383",
        "type": "ui_chart",
        "z": "044f20c844345fc7",
        "name": "Battery Level (48h)",
        "group": "group1",
        "order": 8,
        "width": "12",
        "height": "5",
        "label": "Battery Level (kWh)",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "step-after",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 48,
        "removeOlderUnit": "hour",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#003f5c",
            "#ffa600",
            "#2f4b7c",
            "#00bfae"
        ],
        "outputs": 1,
        "x": 820,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "da947269b496a966",
        "type": "ui_chart",
        "z": "044f20c844345fc7",
        "name": "Shelly Switch State (48h)",
        "group": "group1",
        "order": 8,
        "width": "12",
        "height": "5",
        "label": "Switch State",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "step-after",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 48,
        "removeOlderUnit": "hour",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#003f5c",
            "#ffa600",
            "#2f4b7c",
            "#00bfae"
        ],
        "outputs": 1,
        "x": 820,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "planned_chart_corrected",
        "type": "ui_chart",
        "z": "044f20c844345fc7",
        "name": "Planned Energy Source (Next 48h)",
        "group": "group1",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Planned Energy Source (Next 48h)",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "No data yet",
        "dot": false,
        "ymin": "-1",
        "ymax": "1",
        "removeOlder": "48",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#ff7f0e",
            "#2ca02c",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1300,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "acfa73e002b8d8c9",
        "type": "debug",
        "z": "044f20c844345fc7",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1580,
        "y": 300,
        "wires": []
    },
    {
        "id": "fix_mapping_node",
        "type": "function",
        "z": "044f20c844345fc7",
        "name": "Fix Data Mapping",
        "func": "let rows = msg.payload;\n\n// Fix mapping: convert raw column values into working fields\nrows.forEach(r => {\n    r.price_no_tax = parseFloat(r[\"Prices[EUR/kWh]\"]) || parseFloat(r[\"UnitPrice[EUR/kWh]\"]) || 0;\n    r.solar_production = parseFloat(r[\"Solar Production Estimate - kW\"]) || 0;\n});\n\nlet avgPrice = rows.reduce((acc, r) => acc + r.price_no_tax, 0) / rows.length;\n\nmsg.payload = rows;\nmsg.averagePrice = avgPrice;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 280,
        "wires": [
            [
                "550b29ee5b8cabcb",
                "a7baa8ae584a4a55",
                "85e92626c4d9887e",
                "b5dec39ee7f45a1b"
            ]
        ]
    },
    {
        "id": "b5dec39ee7f45a1b",
        "type": "debug",
        "z": "044f20c844345fc7",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 400,
        "wires": []
    },
    {
        "id": "758bbe8a1baae6c0",
        "type": "comment",
        "z": "6912ad3d7a04a7bd",
        "name": "User Authentication",
        "info": "Table Design\n\n",
        "x": 150,
        "y": 180,
        "wires": []
    },
    {
        "id": "34e697c94da4e18e",
        "type": "function",
        "z": "6912ad3d7a04a7bd",
        "name": "Logout",
        "func": "global.set(\"user\", null);\n\nreturn [\n    {\n        payload: {\n            \"page\": \"Login\",\n            \"pages\": {\n                \"hide\": [\"Dashboard\", \"User\"],\n                \"show\": [\"Login\", \"Sign Up\"]\n            }\n        }\n    },\n    {\n        payload: \"Successfully logged out\"\n    }\n];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 780,
        "wires": [
            [
                "6a258f0deb30e8a7"
            ],
            [
                "21a0770d7ff34e63"
            ]
        ]
    },
    {
        "id": "2661950aa5e19493",
        "type": "switch",
        "z": "6912ad3d7a04a7bd",
        "name": "",
        "property": "payload.password",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "payload.passwordConfirm",
                "vt": "msg"
            },
            {
                "t": "neq",
                "v": "payload.passwordConfirm",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 250,
        "y": 600,
        "wires": [
            [
                "1038d41c43b8ddc6"
            ],
            [
                "299bb9708a7b782d",
                "ec4fbdf45f0439c0"
            ]
        ]
    },
    {
        "id": "1038d41c43b8ddc6",
        "type": "function",
        "z": "6912ad3d7a04a7bd",
        "name": "Hash password",
        "func": "const encoder = new util.TextEncoder()\nconst data = encoder.encode(msg.payload.password)\nconst hashBuffer = await crypto.subtle.digest('SHA-256', data)\nconst hashArray = Array.from(new Uint8Array(hashBuffer))\nconst pass = hashArray.map(b => b.toString(16).padStart(2, '0')).join('')\n\nmsg.topic = `INSERT INTO users (username, password)\n            VALUES ('${msg.payload.username}', '${pass}');`\nreturn {\n    params: {\n        $username: msg.payload.username,\n        $password: pass\n    }\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "crypto",
                "module": "crypto"
            }
        ],
        "x": 420,
        "y": 540,
        "wires": [
            [
                "76fc568baef722ef"
            ]
        ]
    },
    {
        "id": "76fc568baef722ef",
        "type": "sqlite",
        "z": "6912ad3d7a04a7bd",
        "mydb": "e83b4a7ea1491943",
        "sqlquery": "prepared",
        "sql": "INSERT INTO users (username, password) VALUES ($username, $password);",
        "name": "SQL Create user",
        "x": 630,
        "y": 540,
        "wires": [
            [
                "ca99c2f66bc9b221"
            ]
        ]
    },
    {
        "id": "299bb9708a7b782d",
        "type": "function",
        "z": "6912ad3d7a04a7bd",
        "name": "Passwords don't match",
        "func": "msg.payload = `<p style=\"color: red;\">Passwords don't match</p>`\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 680,
        "wires": [
            [
                "21a0770d7ff34e63"
            ]
        ]
    },
    {
        "id": "43632276a84e2dca",
        "type": "function",
        "z": "6912ad3d7a04a7bd",
        "name": "Login",
        "func": "global.set(\"user\", msg.payload[0]);\n\nreturn {\n    payload: {\n        page: 'Dashboard',\n        pages: {\n            show: [\"Dashboard\", \"User\"],\n            hide: [\"Login\", \"Sign Up\"]\n        }\n    }\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 460,
        "wires": [
            [
                "6a258f0deb30e8a7"
            ]
        ]
    },
    {
        "id": "7f7652150ba575ab",
        "type": "function",
        "z": "6912ad3d7a04a7bd",
        "name": "Page permissions",
        "func": "const user = global.get(\"user\")\n\nconst page = msg.name\nglobal.set(\"currentPage\", page);\n\nconst allowSignUp = global.get(\"allowSignUp\")\n\nmsg.payload = {}\n\nif (!allowSignUp && page == 'Sign Up') msg.payload = \"Login\"\n\nif (!['Login', ...(allowSignUp ? ['Sign Up'] : [])].includes(page)) {\n    if (!user) msg.payload = \"Login\"\n} else{\n    if (user) msg.payload = \"Dashboard\"\n}\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 380,
        "wires": [
            [
                "6a258f0deb30e8a7"
            ]
        ]
    },
    {
        "id": "ba5efde3dffc8413",
        "type": "change",
        "z": "6912ad3d7a04a7bd",
        "name": "Enable Sign Up",
        "rules": [
            {
                "t": "set",
                "p": "allowSignUp",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 180,
        "wires": [
            [
                "a860e462d16982d5"
            ]
        ]
    },
    {
        "id": "e4f3fa8e4e4f5241",
        "type": "inject",
        "z": "6912ad3d7a04a7bd",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 600,
        "y": 180,
        "wires": [
            [
                "ba5efde3dffc8413"
            ]
        ]
    },
    {
        "id": "939acc55a206e249",
        "type": "change",
        "z": "6912ad3d7a04a7bd",
        "name": "Disable Sign Up",
        "rules": [
            {
                "t": "set",
                "p": "allowSignUp",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 220,
        "wires": [
            [
                "4f47e426e2671699"
            ]
        ]
    },
    {
        "id": "d113b540c174657e",
        "type": "inject",
        "z": "6912ad3d7a04a7bd",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 600,
        "y": 220,
        "wires": [
            [
                "939acc55a206e249"
            ]
        ]
    },
    {
        "id": "296d1c1f5047b357",
        "type": "function",
        "z": "6912ad3d7a04a7bd",
        "name": "User already exists | error",
        "func": "const text = msg.error.message == \"Error: SQLITE_CONSTRAINT: UNIQUE constraint failed: users.username\"\n    ? \"User already exists\"\n    : msg.error.message\nreturn { payload: `<p style=\"color: red;\">${text}</p>` };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 620,
        "wires": [
            [
                "21a0770d7ff34e63"
            ]
        ]
    },
    {
        "id": "34c821dbc820789c",
        "type": "catch",
        "z": "6912ad3d7a04a7bd",
        "name": "",
        "scope": [
            "76fc568baef722ef"
        ],
        "uncaught": false,
        "x": 510,
        "y": 620,
        "wires": [
            [
                "296d1c1f5047b357"
            ]
        ]
    },
    {
        "id": "b9b5614c7dff264a",
        "type": "function",
        "z": "6912ad3d7a04a7bd",
        "name": "Hash password",
        "func": "const encoder = new util.TextEncoder()\nconst data = encoder.encode(msg.payload.password)\nconst hashBuffer = await crypto.subtle.digest('SHA-256', data)\nconst hashArray = Array.from(new Uint8Array(hashBuffer))\nconst pass = hashArray.map(b => b.toString(16).padStart(2, '0')).join('')\n\nreturn {\n    params: {\n        $username: msg.payload.username,\n        $password: pass\n    }\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "crypto",
                "module": "crypto"
            }
        ],
        "x": 480,
        "y": 460,
        "wires": [
            [
                "ca99c2f66bc9b221"
            ]
        ]
    },
    {
        "id": "ca99c2f66bc9b221",
        "type": "sqlite",
        "z": "6912ad3d7a04a7bd",
        "mydb": "e83b4a7ea1491943",
        "sqlquery": "prepared",
        "sql": "SELECT * FROM users \nWHERE username = $username\nAND password = $password\nLIMIT 1;",
        "name": "Get user",
        "x": 680,
        "y": 460,
        "wires": [
            [
                "1b38b1ec1ed249aa"
            ]
        ]
    },
    {
        "id": "a860e462d16982d5",
        "type": "function",
        "z": "6912ad3d7a04a7bd",
        "name": "Show New user",
        "func": "return {\n    payload: {\n        groups: {\n            show: ['Login:Sub-Login']\n        },\n        \"pages\": {\n            \"show\": [\"Sign Up\"]\n        }\n    }\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 180,
        "wires": [
            [
                "6a258f0deb30e8a7"
            ]
        ]
    },
    {
        "id": "4f47e426e2671699",
        "type": "function",
        "z": "6912ad3d7a04a7bd",
        "name": "Hide New user",
        "func": "return {\n    payload: {\n        groups: {\n            hide: ['Login:Sub-Login']\n        },\n        \"pages\": {\n            \"hide\": [\"Sign Up\"]\n        }\n    }\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 220,
        "wires": [
            [
                "6a258f0deb30e8a7"
            ]
        ]
    },
    {
        "id": "1b38b1ec1ed249aa",
        "type": "switch",
        "z": "6912ad3d7a04a7bd",
        "name": "User exists",
        "property": "payload.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 850,
        "y": 460,
        "wires": [
            [
                "43632276a84e2dca"
            ],
            [
                "9b60cd0b89fd6534"
            ]
        ]
    },
    {
        "id": "9b60cd0b89fd6534",
        "type": "function",
        "z": "6912ad3d7a04a7bd",
        "name": "Bad credentials",
        "func": "msg.payload = `<p style=\"color: red;\">Wrong user or password</p>`\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 520,
        "wires": [
            [
                "21a0770d7ff34e63"
            ]
        ]
    },
    {
        "id": "4c8391745dc721c7",
        "type": "function",
        "z": "6912ad3d7a04a7bd",
        "name": "Get current username",
        "func": "return { payload: global.get(\"user\")?.username };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 320,
        "wires": [
            [
                "ca837ca722728964"
            ]
        ]
    },
    {
        "id": "ad1f09f897a372dc",
        "type": "ui-form",
        "z": "6912ad3d7a04a7bd",
        "name": "Login",
        "group": "2f47a39f3cc9930a",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Username",
                "key": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "key": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "password": ""
        },
        "payload": "",
        "submit": "Login",
        "cancel": "Clear",
        "resetOnSubmit": true,
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": false,
        "className": "",
        "dropdownOptions": [],
        "x": 300,
        "y": 460,
        "wires": [
            [
                "b9b5614c7dff264a"
            ]
        ]
    },
    {
        "id": "ec4fbdf45f0439c0",
        "type": "ui-form",
        "z": "6912ad3d7a04a7bd",
        "name": "Sign up",
        "group": "e0f7da5a3b24256b",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Username",
                "key": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "key": "password",
                "type": "password",
                "required": true,
                "rows": null
            },
            {
                "label": "Confirm password",
                "key": "passwordConfirm",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "password": "",
            "passwordConfirm": ""
        },
        "payload": "",
        "submit": "Submit",
        "cancel": "Clear",
        "resetOnSubmit": true,
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "dropdownOptions": [],
        "x": 100,
        "y": 600,
        "wires": [
            [
                "2661950aa5e19493"
            ]
        ]
    },
    {
        "id": "85c88bb25ccfa16c",
        "type": "ui-button",
        "z": "6912ad3d7a04a7bd",
        "group": "a7d84b864bcdbb8d",
        "name": "Log Out",
        "label": "Log Out",
        "order": 2,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 440,
        "y": 780,
        "wires": [
            [
                "34e697c94da4e18e"
            ]
        ]
    },
    {
        "id": "1b3d1d8f7a398607",
        "type": "ui-button",
        "z": "6912ad3d7a04a7bd",
        "group": "1dd26d328a9f311f",
        "name": "Sign up link",
        "label": "New user",
        "order": 1,
        "width": 0,
        "height": 0,
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "Sign Up",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 930,
        "y": 140,
        "wires": [
            [
                "6a258f0deb30e8a7"
            ]
        ]
    },
    {
        "id": "ec1ccb5848100e40",
        "type": "ui-button",
        "z": "6912ad3d7a04a7bd",
        "group": "d5dc624819206887",
        "name": "Login link",
        "label": "Already have a user",
        "order": 1,
        "width": 0,
        "height": 0,
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "Login",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 920,
        "y": 260,
        "wires": [
            [
                "6a258f0deb30e8a7"
            ]
        ]
    },
    {
        "id": "ca837ca722728964",
        "type": "ui-text",
        "z": "6912ad3d7a04a7bd",
        "group": "a7d84b864bcdbb8d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Current user",
        "label": "Current User:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "",
        "fontSize": "19",
        "color": "#0956f1",
        "wrapText": false,
        "className": "{{msg.payload}}",
        "x": 930,
        "y": 320,
        "wires": []
    },
    {
        "id": "21a0770d7ff34e63",
        "type": "ui-notification",
        "z": "6912ad3d7a04a7bd",
        "ui": "38228510344247f8",
        "position": "top center",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "5",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": false,
        "dismissText": "",
        "allowConfirm": false,
        "confirmText": "",
        "raw": true,
        "className": "",
        "name": "Notification",
        "x": 1170,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "6a258f0deb30e8a7",
        "type": "ui-control",
        "z": "6912ad3d7a04a7bd",
        "name": "",
        "ui": "38228510344247f8",
        "events": "all",
        "x": 1220,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "bd899096891058a2",
        "type": "ui-control",
        "z": "6912ad3d7a04a7bd",
        "name": "",
        "ui": "38228510344247f8",
        "events": "all",
        "x": 480,
        "y": 340,
        "wires": [
            [
                "7f7652150ba575ab",
                "4c8391745dc721c7"
            ]
        ]
    },
    {
        "id": "6c60ba79a3968ab8",
        "type": "debug",
        "z": "6912ad3d7a04a7bd",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 660,
        "wires": []
    },
    {
        "id": "5e92e2fee05595a3",
        "type": "sqlite",
        "z": "6912ad3d7a04a7bd",
        "mydb": "e83b4a7ea1491943",
        "sqlquery": "fixed",
        "sql": "SELECT * FROM users LIMIT 20",
        "name": "view user",
        "x": 1180,
        "y": 740,
        "wires": [
            [
                "6c60ba79a3968ab8"
            ]
        ]
    },
    {
        "id": "62ec65afcc37eb5a",
        "type": "inject",
        "z": "6912ad3d7a04a7bd",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 980,
        "y": 780,
        "wires": [
            [
                "5e92e2fee05595a3"
            ]
        ]
    },
    {
        "id": "84e6f0ad8b9e9646",
        "type": "sqlite",
        "z": "76643284bdc41c45",
        "mydb": "962221d873768ba1",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Query Energy DB",
        "x": 590,
        "y": 60,
        "wires": [
            [
                "b80add8848b8f90f"
            ]
        ]
    },
    {
        "id": "b80add8848b8f90f",
        "type": "function",
        "z": "76643284bdc41c45",
        "name": "Format Chart Data",
        "func": "let labels = [], consumption = [], solar = [], cost = [], unit_price = [], weather = [];\n\nmsg.payload.forEach(row => {\n    const label = row.Date + ' ' + row.Time;      //  Combines Date + Time columns\n    labels.push(label);\n\n    consumption.push(row['Consumption[kWh]']);    //  Matches column names exactly\n    solar.push(row['Solar_Production_Estimate[kW]']);\n    cost.push(row['Consumption_Cost[EUR]']);\n    unit_price.push(row['Consumption_UnitPrice[EUR/kWh]']);\n    weather.push(row['Weather condition']);\n});\n\nreturn [\n    { payload: [{ series: ['Consumption'], data: [consumption], labels }] },\n    { payload: [{ series: ['Solar Production'], data: [solar], labels }] },\n    { payload: [{ series: ['Cost'], data: [cost], labels }] },\n    { payload: [{ series: ['Unit Price'], data: [unit_price], labels }] },\n    { payload: [{ series: ['Weather'], data: [weather], labels }] }\n];\n",
        "outputs": 4,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 60,
        "wires": [
            [
                "ff254faea357d6f5"
            ],
            [
                "35be178260a7e436"
            ],
            [
                "6099a38935ab9e0e"
            ],
            [
                "1b20df5b5724200b",
                "3d1f6fd3e517b6e0"
            ]
        ]
    },
    {
        "id": "ff254faea357d6f5",
        "type": "ui_chart",
        "z": "76643284bdc41c45",
        "name": "Consumption (kWh)",
        "group": "group1",
        "order": 2,
        "width": "12",
        "height": "5",
        "label": "Consumption (kWh)",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#3b83bd",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1300,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "35be178260a7e436",
        "type": "ui_chart",
        "z": "76643284bdc41c45",
        "name": "Solar Production",
        "group": "group1",
        "order": 3,
        "width": "12",
        "height": "5",
        "label": "Solar Production (kW)",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ffa500",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1350,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "6099a38935ab9e0e",
        "type": "ui_chart",
        "z": "76643284bdc41c45",
        "name": "Cost (EUR)",
        "group": "group1",
        "order": 4,
        "width": "12",
        "height": "5",
        "label": "Cost (EUR)",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff0000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1370,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "3d1f6fd3e517b6e0",
        "type": "ui_chart",
        "z": "76643284bdc41c45",
        "name": "Unit Price (EUR/kWh)",
        "group": "group1",
        "order": 5,
        "width": "12",
        "height": "5",
        "label": "Unit Price (EUR/kWh)",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#9933ff",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1380,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "1b20df5b5724200b",
        "type": "debug",
        "z": "76643284bdc41c45",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 240,
        "wires": []
    },
    {
        "id": "3c028a6e005cfc4e",
        "type": "ui_date_picker",
        "z": "76643284bdc41c45",
        "name": "Start Date",
        "label": "Start Date",
        "group": "group1",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "topic": "start",
        "x": 140,
        "y": 180,
        "wires": [
            [
                "3f478418b0247ec2"
            ]
        ]
    },
    {
        "id": "cd8a4b85193237b8",
        "type": "ui_date_picker",
        "z": "76643284bdc41c45",
        "name": "End Date",
        "label": "End Date",
        "group": "group1",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": true,
        "topic": "end",
        "x": 100,
        "y": 280,
        "wires": [
            [
                "3f478418b0247ec2"
            ]
        ]
    },
    {
        "id": "3f478418b0247ec2",
        "type": "join",
        "z": "76643284bdc41c45",
        "name": "Join Start & End Dates",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 350,
        "y": 220,
        "wires": [
            [
                "f7176ec0715c5bf4"
            ]
        ]
    },
    {
        "id": "f7176ec0715c5bf4",
        "type": "function",
        "z": "76643284bdc41c45",
        "name": "Build SQL Query",
        "func": "// Ensure date values from payload are properly formatted\nconst startDate = new Date(msg.payload.start);\nconst endDate = new Date(msg.payload.end);\n\n// Check if dates are valid\nif (isNaN(startDate) || isNaN(endDate)) {\n    node.error(\"Invalid date selected.\");\n    return null;\n}\n\n// Set start time to 00:00:00 and end time to 23:59:59 for selected dates\nstartDate.setHours(0, 0, 0, 0);\nendDate.setHours(23, 59, 59, 999);\n\nconst startTime = startDate.toISOString().slice(0, 19);\nconst endTime = endDate.toISOString().slice(0, 19);\n\nmsg.topic = `\nSELECT * FROM data \nWHERE datetime(Date || 'T' || Time || ':00' || Timezone)\nBETWEEN datetime('${startTime}') AND datetime('${endTime}')\n`;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 60,
        "wires": [
            [
                "84e6f0ad8b9e9646"
            ]
        ]
    },
    {
        "id": "deb4a9550f912b04",
        "type": "debug",
        "z": "c7803a1abcb5e1e8",
        "name": "Unit Price (EUR/kWh)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 320,
        "wires": []
    },
    {
        "id": "b44ba4d0824317b4",
        "type": "function",
        "z": "c7803a1abcb5e1e8",
        "name": "Format Chart Data",
        "func": "let consumption = [],\n    solar = [],\n    cost = [],\n    unit_price = [],\n    negative_price = [],\n    weather_values = [],\n    weather_text = [],\n    weather_colors = [];\n\nmsg.payload.forEach(row => {\n    const timestamp = new Date(`${row.Date}T${row.Time}:00`).toISOString();\n\n    consumption.push({ x: timestamp, y: row['Consumption[kWh]'] });\n    solar.push({ x: timestamp, y: row['Solar_Production_Estimate[kW]'] });\n    cost.push({ x: timestamp, y: row['Consumption_Cost[EUR]'] });\n    unit_price.push({ x: timestamp, y: row['Consumption_UnitPrice[EUR/kWh]'] });\n    negative_price.push({ x: timestamp, y: row['Negative_prices[EUR/kWh]'] });\n\n    // Map weather condition to a numeric value\n    let value;\n    switch (row['Weather_condition']) {\n        case 'Clear sky': value = 1; break;\n        case 'Mainly clear': value = 2; break;\n        case 'Partly cloudy': value = 3; break;\n        case 'Cloudy': value = 4; break;\n        case 'Overcast': value = 5; break;\n        case 'Rainy': value = 6; break;\n        default: value = 0;\n    }\n    weather_values.push({ x: timestamp, y: value });\n    weather_text.push({ x: timestamp, y: row['Weather_condition'] });\n\n    // Map weather to color for custom use\n    let color;\n    switch (row['Weather_condition']) {\n        case 'Clear sky': color = 'green'; break;\n        case 'Partly cloudy': color = 'yellow'; break;\n        case 'Cloudy': color = 'gray'; break;\n        case 'Rainy': color = 'blue'; break;\n        case 'Mainly clear': color = 'lightgreen'; break;\n        default: color = 'lightgray';\n    }\n    weather_colors.push({ x: timestamp, y: color });\n});\n\n// Each output goes to a different chart input\nreturn [\n  { topic: \"Consumption\", payload: consumption },\n  { topic: \"Solar Production\", payload: solar },\n  { topic: \"Cost\", payload: cost },\n  { topic: \"Unit Price\", payload: unit_price },\n  { topic: \"Negative Price\", payload: negative_price },\n  { topic: \"Weather Condition (Numeric)\", payload: weather_values },\n  { topic: \"Weather Condition (Text)\", payload: weather_text }\n];\n",
        "outputs": 7,
        "timeout": "40",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 320,
        "wires": [
            [
                "1ac08fdf0a245f9a"
            ],
            [
                "501f50907e8b0b9d"
            ],
            [
                "c52ff74520c19f5e"
            ],
            [
                "22fe19b164df1726",
                "deb4a9550f912b04"
            ],
            [
                "ba79080895fdc83f"
            ],
            [
                "98c42f98fc511fb3"
            ],
            []
        ]
    },
    {
        "id": "f0470d8888b924d0",
        "type": "sqlite",
        "z": "c7803a1abcb5e1e8",
        "mydb": "962221d873768ba1",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Query Energy DB",
        "x": 470,
        "y": 460,
        "wires": [
            [
                "b44ba4d0824317b4",
                "9d39b29fdd87a871",
                "b63a76e4cb4d3150"
            ]
        ]
    },
    {
        "id": "31f26ba148487008",
        "type": "function",
        "z": "c7803a1abcb5e1e8",
        "name": "Build SQL Query",
        "func": "const startDate = new Date(msg.payload.start);\nconst endDate = new Date(msg.payload.end);\n\nif (isNaN(startDate) || isNaN(endDate)) {\n    node.error(\"Invalid date selected.\");\n    return null;\n}\n\n// Set to start and end of the selected days\nstartDate.setHours(0, 0, 0, 0);\nendDate.setHours(23, 59, 59, 999);\n\n// Format for SQLite datetime comparison (ISO: 'YYYY-MM-DDTHH:MM:SS')\nconst startTime = startDate.toISOString().slice(0, 19);\nconst endTime = endDate.toISOString().slice(0, 19);\n\n// Ensure time field is in HH:MM and padded if needed\n// Final format: 'YYYY-MM-DDTHH:MM:SS'\nmsg.topic = `\n    SELECT * FROM data\n    WHERE datetime(Date || 'T' || substr('0' || Time, -5) || ':00')\n    BETWEEN '${startTime}' AND '${endTime}'\n`;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 460,
        "wires": [
            [
                "f0470d8888b924d0"
            ]
        ]
    },
    {
        "id": "2218ce2d28fc1a93",
        "type": "ui-form",
        "z": "c7803a1abcb5e1e8",
        "name": "Date Range",
        "group": "4f854fe43a9cd673",
        "label": "Select Date Range",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Start Date",
                "key": "start",
                "type": "date",
                "required": true,
                "rows": null
            },
            {
                "label": "End Date",
                "key": "end",
                "type": "date",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "start": "",
            "end": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "clear",
        "resetOnSubmit": false,
        "topic": "",
        "topicType": "str",
        "splitLayout": true,
        "className": "",
        "passthru": false,
        "dropdownOptions": [],
        "x": 110,
        "y": 320,
        "wires": [
            [
                "31f26ba148487008"
            ]
        ]
    },
    {
        "id": "98c42f98fc511fb3",
        "type": "ui-chart",
        "z": "c7803a1abcb5e1e8",
        "group": "4f854fe43a9cd673",
        "name": "Weather Condition",
        "label": "Clear sky = 1 - Mainly clear = 2 - Partly cloudy = 3 - Cloudy = 4 - Overcast =5 - Rainy = 6",
        "order": 11,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "Time",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "dd/LL HH:mm",
        "xAxisFormatType": "custom",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "y",
        "yAxisPropertyType": "property",
        "ymin": "0",
        "ymax": "6",
        "bins": 10,
        "action": "replace",
        "stackSeries": true,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#2b9d2b",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1170,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "c52ff74520c19f5e",
        "type": "ui-chart",
        "z": "c7803a1abcb5e1e8",
        "group": "4f854fe43a9cd673",
        "name": "Cost (EUR)",
        "label": "Cost (EUR)",
        "order": 5,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "Time",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "dd/LL HH:mm",
        "xAxisFormatType": "custom",
        "xmin": "0",
        "xmax": "20",
        "yAxisLabel": "EUR",
        "yAxisProperty": "y",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "replace",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": 1,
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#d90000",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1150,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "501f50907e8b0b9d",
        "type": "ui-chart",
        "z": "c7803a1abcb5e1e8",
        "group": "4f854fe43a9cd673",
        "name": "Solar Production",
        "label": "Solar Production (KW)",
        "order": 10,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "Time",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "dd/LL HH:mm",
        "xAxisFormatType": "custom",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "KW",
        "yAxisProperty": "y",
        "yAxisPropertyType": "property",
        "ymin": "0",
        "ymax": "",
        "bins": 10,
        "action": "replace",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#fd7e0e",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1190,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "22fe19b164df1726",
        "type": "ui-chart",
        "z": "c7803a1abcb5e1e8",
        "group": "4f854fe43a9cd673",
        "name": "Unit Price (EUR/kWh)",
        "label": "Unit Price (EUR/kWh)",
        "order": 6,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "Time",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "dd/LL HH:mm",
        "xAxisFormatType": "custom",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "EUR/kWh",
        "yAxisProperty": "y",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": "",
        "action": "replace",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": "4",
        "showLegend": false,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#b80ff5",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "6",
        "height": "8",
        "className": "",
        "interpolation": "linear",
        "x": 1180,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "1ac08fdf0a245f9a",
        "type": "ui-chart",
        "z": "c7803a1abcb5e1e8",
        "group": "4f854fe43a9cd673",
        "name": "Grid Consumption (kWh)",
        "label": "Grid Consumption (kWh)",
        "order": 9,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "Time",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "dd/LL HH:mm",
        "xAxisFormatType": "custom",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "kWh",
        "yAxisProperty": "y",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": "",
        "action": "replace",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": "4",
        "showLegend": false,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#1e78b8",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e61919"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1210,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "9d39b29fdd87a871",
        "type": "function",
        "z": "c7803a1abcb5e1e8",
        "name": "Total Consumption",
        "func": "let total = 0;\nmsg.payload.forEach(row => {\n    total += parseFloat(row[\"Consumption[kWh]\"]) || 0;\n});\nmsg.payload = total.toFixed(3) + \" kWh\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 460,
        "wires": [
            [
                "4a98624e33c64b80"
            ]
        ]
    },
    {
        "id": "4a98624e33c64b80",
        "type": "ui-text",
        "z": "c7803a1abcb5e1e8",
        "group": "4f854fe43a9cd673",
        "order": 3,
        "width": 4,
        "height": 1,
        "name": "Total Grid Consumption",
        "label": "Total Grid Consumption : ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#1339f6",
        "wrapText": false,
        "className": "",
        "x": 1170,
        "y": 480,
        "wires": []
    },
    {
        "id": "b63a76e4cb4d3150",
        "type": "function",
        "z": "c7803a1abcb5e1e8",
        "name": "Total Cost",
        "func": "let total = 0;\nmsg.payload.forEach(row => {\n    total += parseFloat(row[\"Consumption_Cost[EUR]\"]) || 0;\n});\nmsg.payload = total.toFixed(3) + \" EUR\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 540,
        "wires": [
            [
                "1ebf1c0de3939d8f"
            ]
        ]
    },
    {
        "id": "1ebf1c0de3939d8f",
        "type": "ui-text",
        "z": "c7803a1abcb5e1e8",
        "group": "4f854fe43a9cd673",
        "order": 4,
        "width": 4,
        "height": 1,
        "name": "Total Cost[EUR]",
        "label": "Total Cost : ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#ea1a1a",
        "wrapText": false,
        "className": "",
        "x": 1140,
        "y": 540,
        "wires": []
    },
    {
        "id": "f9581524cbb59132",
        "type": "function",
        "z": "c7803a1abcb5e1e8",
        "name": "Build SQL Query",
        "func": "const now = new Date();\nconst endDate = new Date(now.getTime() + 48 * 60 * 60 * 1000); // 48 hours later\n\nconst startTime = now.toISOString().slice(0, 19);      // Format: YYYY-MM-DDTHH:MM:SS\nconst endTime = endDate.toISOString().slice(0, 19);\n\n// Generate SQL query\nmsg.topic = `\n    SELECT * FROM data\n    WHERE datetime(Date || 'T' || substr('0' || Time, -5))\n    BETWEEN '${startTime}' AND '${endTime}'\n`;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 780,
        "wires": [
            [
                "67f4884ce9bf3d88"
            ]
        ]
    },
    {
        "id": "67f4884ce9bf3d88",
        "type": "sqlite",
        "z": "c7803a1abcb5e1e8",
        "mydb": "962221d873768ba1",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Query Energy DB",
        "x": 570,
        "y": 780,
        "wires": [
            [
                "153b9a24c447fd93"
            ]
        ]
    },
    {
        "id": "41383893bfa9c994",
        "type": "inject",
        "z": "c7803a1abcb5e1e8",
        "name": "Inject",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 760,
        "wires": [
            [
                "f9581524cbb59132"
            ]
        ]
    },
    {
        "id": "153b9a24c447fd93",
        "type": "function",
        "z": "c7803a1abcb5e1e8",
        "name": "function 1",
        "func": "let market_prices = [];\n\nmsg.payload.forEach(row => {\n    const timestamp = new Date(`${row.Date}T${row.Time}:00`).toISOString();\n\n    market_prices.push({\n        x: timestamp,\n        y: row[\"market_prices[EUR/kWh]\"]\n    });\n});\n\nreturn {\n    topic: \"Market Price\",\n    payload: market_prices\n};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 800,
        "wires": [
            [
                "67d9e94bc80f9240",
                "4fa26bfa2ec2d639"
            ]
        ]
    },
    {
        "id": "67d9e94bc80f9240",
        "type": "debug",
        "z": "c7803a1abcb5e1e8",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 800,
        "wires": []
    },
    {
        "id": "4fa26bfa2ec2d639",
        "type": "ui-chart",
        "z": "c7803a1abcb5e1e8",
        "group": "4f854fe43a9cd673",
        "name": "Unit Price Forecast (EUR/kWh)",
        "label": "Unit Price Forecast (EUR/kWh)",
        "order": 8,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "Time",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "dd/LL HH:mm",
        "xAxisFormatType": "custom",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "EUR/kWh",
        "yAxisProperty": "y",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": "",
        "action": "replace",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": "4",
        "showLegend": false,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#86e9fd",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "6",
        "height": "8",
        "className": "",
        "interpolation": "linear",
        "x": 1150,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "ba79080895fdc83f",
        "type": "ui-chart",
        "z": "c7803a1abcb5e1e8",
        "d": true,
        "group": "4f854fe43a9cd673",
        "name": "Negative prices (EUR/kWh)",
        "label": "Negative prices (EUR/kWh)",
        "order": 7,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "Time",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "dd/LL HH:mm",
        "xAxisFormatType": "custom",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "EUR/kWh",
        "yAxisProperty": "y",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": "",
        "action": "replace",
        "stackSeries": false,
        "pointShape": "rectRounded",
        "pointRadius": "8",
        "showLegend": false,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#51a80b",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "6",
        "height": "8",
        "className": "",
        "interpolation": "linear",
        "x": 1200,
        "y": 360,
        "wires": [
            []
        ]
    }
]